body {
  background-color: rgb(10, 85, 247);
}

my-bubble {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

.none_ {
  display: none;
}

.icon_,
.close_btn_ {
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: 1000;
  border-radius: 1.2rem;
  padding: 1rem;

}

.icon_:hover {
  cursor: pointer;
  background-color: rgb(10, 85, 247);
}

.shuffle_ {
  width: 1rem;
}

.open_ {
  width: 25vw;
}

.controls_ {
  width: 23vw;
  display: flex;
  position: absolute;
  top: 1vh;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 1vh;

}

.left_ {
  flex: 1;
  display: flex;
  justify-content: space-around;

}

.container_ {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "gama video";
}

.started_ {
  position: absolute;
  bottom: 10vh;
  right: 1.5vw;
  width: 22vw;
  background-color: rgb(10, 85, 247);
  padding: 2vh 0;
  border-radius: 1rem;
  text-decoration: none;
}

#volume {
  align-self: center;
}

.started_ span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;

}

.video_ {
  border-radius: 1rem;
}

.circle_ {
  clip-path: circle(15% at 50% 50%);
  width: 30vw;
  height: 30vh;
  right: 0;
  grid-area: video;
}


.close_btn_ {
  border-radius: 5rem;
  padding: 0;
  width: 2vw;
}

.fixed_ {
  position: absolute;
  bottom: 0vh;

}

.close_ {
  right: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5vw;
  bottom: 20vh;
}

.words_ {
  grid-area: gama;
  right: 20vw;
  width: max-content;
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: .5rem;
  font-weight: 900;
  bottom: 11vh;
}

/* mobile style sheet */
@media (max-width: 600px) {
  my-bubble {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
  }

  .open_ {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 4vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* call to action link */
  .started_ {
    position: absolute;
    bottom: 20vh;
    right: 1vw;
    width: 90vw;
    background-color: rgb(10, 85, 247);
    padding: 2vh 0;
    border-radius: 1rem;
    text-decoration: none;
    margin: 0 2vw;
  }

  .words_ {
    position: fixed;
    right: 35vw;
    width: fit-content;
    background-color: white;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 900;
    font-size: 1rem;
    bottom: 23vh;
    
    white-space: nowrap;
  }

  .circle_ {
    clip-path: circle(25% at 50% 50%);
    width: 30vw;
    height: 30vh;
    right: 0;
    grid-area: video;
    bottom: 9vh;
  }

  .close_ {
    right: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    bottom: 29vh;
  }

  .close_btn_ {
    border-radius: 5rem;
    padding: 0;
    width: 1.5rem;
  }
    .controls_ {
      width: 100vw;
      display: flex;
      position: fixed;
      top: 6vh;
      left: 0;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;
    }
}